
.teamintro{
    color: #FFF;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 75%;
    align-self: center;
    text-align: justify;
    padding-top: 7.5vh;
    padding-bottom: 7.5vh;
}

