/* footer.css */

.footer {
    background-color: #4d4d4d;
    display: flex;
    flex-direction: row; /* Changed from row */
    width: 95%;
    align-items: center;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 2vh; /* Changed from 2rem */
    padding-bottom: 2vh; /* Changed from 2rem */
    border-top: 0.5vw solid #ffd600;
    justify-content: space-around;
  }
  
  /* Rest of the styles remain the same */
  

.socials{
    display: flex;
    flex-direction: column;
    padding: 1.5vw;
    gap: 0.95rem;

}

.individualsocial{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:5%;
}

.individualsocial a p{
    color: #F2F2F2;
    text-align: right;
    font-family: Inter;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.individualsocial a img{
    width: 5vw;
}

.orangebar{
    width: 0.5vw;
    align-self: stretch;
    background-color: #FF7C00;
}
.address{
    color: #F2F2F2;
    text-align: right;
    font-family: Inter;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.map{
    align-self: stretch;
    width: 30vw;
    background-color: aliceblue;
}

.individualsocial a{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:5%;
    text-decoration: none;
}